h1{
color:black;
}
#contact{
text-align:right;
}
#line{
background-color:black;
color:black;
}
#fonticons{
text-align:center;
}
#left{
background-color:white;
color:black;
}
table{
width:95%;
}
.per{
text-align:right;
}
.checked{
color:orange;
}
